.button {
    border: 0;
    color: inherit;
    padding: 0;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: block;
    transition: background 600ms linear;
}

.spanContent {
    position: absolute;
    pointer-events: none;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spanChildOn {
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    z-index: 0;
    border-radius: 50%;
    pointer-events: none;
    transition: all 100ms linear;
    animation: ripple 0.3s ease-out !important;
    transform: scale(2.5);
    opacity: 1;
}

.spanChildOff {
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 1);
    z-index: 0;
    border-radius: 50%;
    pointer-events: none;
    transition: all 1000ms linear;
    animation: ripplePress 0.2s ease-out !important;
    transform: scale(2.5);
    opacity: 0;
}

@keyframes ripple {
    from {
        transform: scale(0);
        opacity: 1;
    }
    to {
        opacity: 1;
        transform: scale(2.5);
    }
}

@keyframes ripplePress {
    from {
        transform: scale(2.5);
        opacity: 1;
    }
    to {
        transform: scale(2.5);
        opacity: 0;
    }
}
